.d_red {
  background-color: red;
  color: white;
  font-weight: bold;
}
.d_black {
  background-color: #000;
  color: white;
  font-weight: bold;
}
.d_green {
  background-color: green;
  color: white;
  font-weight: bold;
}
.d_blue {
  background-color: blue;
  color: white;
  font-weight: bold;
}
.id_header {
  margin-top: 30px;
  min-height: 100px;
}
.id_show_basket {
  float: right;
}
.id_menu_currentcy {
  float: left;
}
.id_lang_bar {
  margin-bottom: 15px;
}
.id_address address {
  width: 260px;
}
.id_rubric_menu {
  max-width: 340px;
  padding: 8px 0;
}
