@CHARSET "UTF-8";

body { font-family: Arial; } 
html { width: 100%; height: 100%; overflow: visible;   } 
body { width: 100%; height: 100%; overflow: visible; }
#viewport { width: 100%; height: 100%; min-width: 800px;  overflow: visible; }
#right_content { text-align: center; width: 100%; height: 100%; min-height: 550px; background: #eee; overflow: visible; }
#right_content h1 {text-family: Verdana; color: #444; text-transform: uppercase;}
#right_content h2 {text-family: Verdana; color: #888; text-transform: uppercase; font-size: 12px;}
.quick_action_btn {	margin: 10px; padding: 10px; text-align: center; background: #d4d4d4; width: 220px; line-height: 40px; -moz-border-radius: 5px;	-moz-box-shadow: 0 0 5px #000; -webkit-border-radius: 5px; -webkit-box-shadow: 0 0 5px #000; display: inline-block;	cursor: pointer; color: #222; text-transform: uppercase; border: #444 solid 1px; font-size: 12px; font-weight: bold; }
.quick_action_btn:HOVER { background: #cde; }
.quick_action_btn:ACTIVE { background: #aaa; }

#action_title { width: 100%; border-top: 1px solid #fff; text-align: left;}
#action_title h1 { line-height: 40px; margin-left: 20px; font-size: 24px; color: #444; }
#action_bottom { width: 100%; }
/* delete TODO */
#action_zone { float: right; margin-right: 10px;}
#action_zone .btn { font-size: 12px; line-height: 20px; margin: 10px; margin-right: 0px; padding-left: 10px; padding-right: 10px; border: 1px solid #888; color: #222; display: inline-block; -moz-border-radius: 5px; cursor: pointer; background: #fff;}
#action_zone .btn:HOVER { background: #cde; }
#action_zone .btn:ACTIVE { background: #aaa; }
/* *********** */
.action_zone { float: right; margin-right: 10px;}
.action_zone .btn { font-size: 12px; line-height: 20px; margin: 10px; margin-right: 0px; padding-left: 10px; padding-right: 10px; border: 1px solid #888; color: #222; display: inline-block; -moz-border-radius: 5px; cursor: pointer; background: #fff;}
.action_zone .btn:HOVER { background: #cde; }
.action_zone .btn:ACTIVE { background: #aaa; }
form.default { margin: 10px; margin-top: 0px; padding: 10px; border: 1px solid #888; background: #eee; text-align: left;}
form.default label.default { display: inline-block; width: 200px; line-height: 25px; font-size: 14px; margin-top: 5px; }
form.default input.default {  display: inline-block; position: relative; background: #fff; border: 1px solid #888; height: 22px; width: 60%; }
form.default .hr { boreder: 0px none; border-top: 1px dotted #888; margin: 5px; height: 0px; }
form.default textarea { display: block; width: 95%; height: 100px; background: #fff; border: 1px solid #888;}
form.default textarea.contenteditor { height: 400px; }
/*form.default .spoiler { width: 200px; line-height: 25px; font-size: 14px; margin-top: 5px; padding-left: 10px; padding-right: 20px; border: 1px solid #888; cursor: pointer; background: #eee url('img/se_down.png') right 8px no-repeat; }
form.default .spoiler:HOVER { background: #fff url('img/se_down.png') right 8px no-repeat; }
*/

form div.image_input img { display: inline-block; border: 1px solid #ccc; margin-left: 5px; top: 7px; position: relative; cursor: pointer;}
form div.image_input input { width: 200px; }

#viewport span.mceEditor   {
	display: inline-block;
	width: 100%;	
}
