* { padding: 0; margin: 0; font-family: Arial,Helvetica; font-size:  14px; color: #000;}
.float_right { float: right; }
#wallpaper { width: 100%; height: 100%; position: absolute; }
#wallpaper img { width: 100%; height: 100%; position: absolute; z-index: 0; }
#viewport { width: 100%; height: 100%; position: absolute; opacity: 0; min-width: 800px;}
#forbiz_login form { position: absolute; width:100%; height: 100%; z-index:  5;}
#forbiz_login { width: 400px; height: 300px; margin-left:  -200px; left: 50%; margin-top: -200px; top: 50%;  position: fixed; }
#forbiz_login .background { position: absolute; background: #fff; opacity: 0.7; border-radius: 10px; -moz-border-radius: 10px; -webkit-box-shadow: 0 0 10px #000; -moz-box-shadow: 0 0 10px #000;border: 2px solid #000; width: 100%; height: 100%; z-index: 1;}
#forbiz_login_logo { float: left; margin: 20px; margin-left:  30px; z-index: 2; position: relative;}
#forbiz_login h3 { font-weight: normal; font-size: 20px; margin: 20px; margin-top: 50px; margin-right: 40px; margin-bottom: 30px; color: #111; text-align: center; text-shadow: 0 0 5px #859640; position: relative; z-index: 2; }
#forbiz_login h3 span {font-weight: bold; font-size: 20px; color: #343f08; }
#forbiz_login label {  color: #444; margin: 10px; width: 100px; display: inline-block; text-align: left; }
#forbiz_login input { width: 170px; height: 20px; background: #fff; border-radius: 5px; -moz-border-radius: 5px; border: 1px solid #777; color: #333; padding-left: 5px; padding-right: 5px; }
#forbiz_login input:HOVER { -webkit-box-shadow: 0 0 10px #859640; -moz-box-shadow: 0 0 10px #859640;}
#forbiz_login input:FOCUS { border: 1px solid #000; }
#forbiz_login input[type="button"] { width: 100px; height: 25px; margin: 20px; margin-left: 227px; font-weight: bold;}
#forbiz_login input[type="button"]:HOVER { background: #def; }
.load_detector_cont { text-align: center; display: inline-block; width: 50px; height: 70px; position: relative; z-index: 3;}
#login_form_container {	text-align: center;	vertical-align: top; }
#login_form_container img {	display: inline-block; float: left;	opacity: 0.01; }
#load_text { display: block; position: absolute; margin-top: 90px; width: 400px; height: 24px; text-align: center; z-index: 3;}
#forbiz_panel { width: 100%; height: 48px; overflow: visible; position: relative; z-index: 500; white-space: nowrap;}
#forbiz_panel_background { position: absolute; width: 100%; height: 100%; opacity: 0.85; background: #fff; z-index:  490; }
#workspace { width: 100%; top: 48px; bottom: 1px; overflow: hidden; position: relative; position: absolute; z-index: 400; min-width: 800px; min-height: 500px;}
.hpanel_item { height: 100%; display: inline-block; z-index: 600; position: relative; cursor: default;}
.spliter { width: 0px; border-left: 1px solid #ccc; border-right: 1px dashed #888; cursor: default;}
#start_btn_ct {}
#start_btn { margin: 3px; width: 42px; height: 42px; background: #444;}
#win_manager { overflow: hidden; }
#win_manager .win_btn { display: inline-block; width: 42px; height: 42px; background: #444; margin: 3px; margin-left: 0; margin-right: 0;}
#win_manager .win_btn:HOVER { background: #fff; }
#win_manager .active { background: #ccc;}
#logout_btn_ct { float: right; }
#logout_btn { width: 42px; height: 42px; margin: 3px; background: #444;}
#start_menu_ct { width: 350px; height: 400px; position: absolute; top: 48px; }
#start_menu_bg { width: 100%; height: 100%; position: absolute; background: #fff; opacity: 0.85; z-index: 490; }
#start_menu_body { width: 330px; height: 350px; margin-left: 10px; margin-top: 10px; position:  relative; z-index: 500; }
#start_menu_search { position: relative; margin: 10px; margin-top: 8px; z-index: 600; }
#start_menu_search input { width: 327px; height: 15px;}
#start_menu_items { width: 260px; height: 100%; float: right; background: #fff; }
div.start_menu_category { width: 70px; height: 70px; }
div.start_menu_category:HOVER { background: #fff;}
.start_menu_category .icon { width: 64px; height: 64px; top: 3px; left: 3px; position: relative; display: block; }

.start_menu_item { height: 38px; width: 100%; cursor: default;}
.start_menu_item:HOVER { background: #00f; }
.start_menu_item img { width: 32px; height: 32px; margin: 3px; float: left;}
.start_menu_item span.title { font-size: 14px; font-weight: bold; top: 5px; display: block; position: relative;}
.start_menu_item span.description { font-size: 10px; font-style: italic; color: #555;}

#logout_btn_ct { white-space: nowrap;}
#logout_btn { float: right;}

/* DIALOGS */

#fd_filelist.load { background: #fff url("img/anim/gears.gif") center no-repeat !important;}
#fd_filelist div.fileitem { text-align: center; display: inline-block; margin: 5px; border-radius: 5px;  -moz-border-radius: 5px;  -webkit-border-radius: 5px;}
#fd_filelist.fdv_viewtable div.fileitem { width: 100px; vertical-align: middle; }
#fd_filelist.fdv_viewtable div.fileitem span {text-align: center; display: block; width: 100px; height: 35px; overflow: hidden;}
#fd_filelist.fdv_viewtable div.fileitem img { margin-bottom: 5px; margin-top: 5px; display: block;}
#fd_filelist.fdv_viewlist div.fileitem { text-align: left; display: block;}
#fd_filelist.fdv_viewlist div.fileitem span { line-height: 42px; margin-left: 10px; }
#fd_filelist.fdv_viewlist div.fileitem img { margin-left: 10px; }
#fd_filelist div.fileitem img { max-height: 48px; max-width: 48px; margin: 0 auto; vertical-align: middle;}
#fd_filelist div.fileitem span { cursor: default;}
#fd_filelist div.fileitem.image img {border: 1px solid #bbb; }
#fd_filelist div.fileitem.active { background: #ccddff;}
#fd_filelist div.fileitem:HOVER { background: #ddeeff;}

