#forbiz_panel_background { background: url("img/mainpanel.png") repeat-x top; opacity: 1;}
#start_btn { width: 80px; height: 48px; position: absolute; background: url("img/start.png") top left no-repeat; margin: 0px;}
#start_btn_hover { width: 80px; height: 48px; position: absolute; background: url("img/start_hover.png") top left no-repeat; }
#start_btn_ct { width: 80px; position: relative; }
.hpanel_item + .spliter { width: 8px; height: 48px; background: url("img/hpanel_spliter.png") top left no-repeat; border: 0px; margin: 0px; }
#win_manager .win_btn { width: 46px; height: 46px; margin: 1px; background: url("img/wm_item.png") top left no-repeat; }
#win_manager .win_btn:HOVER { background: url("img/wm_hover.png"); }
#win_manager .active { background: url("img/wm_active.png"); }
#start_menu_ct { width: 360px; height: 410px; }
#start_menu_bg { background: url("img/start_menu.png") top left no-repeat; }
#start_menu_items { background: none; }
#start_menu_search input { background: none; border: 0px; }
div.start_menu_category:HOVER { background: transparent; background: url("img/start_menu_cat_bg.png") top left no-repeat; }
#start_menu_ct div.active { background: transparent; background: url("img/start_menu_cat_bg.png") top left no-repeat; }
#cat1 .icon { background: url("img/cat1_icon.png") center no-repeat; }
#cat2 .icon { background: url("img/cat2_icon.png") center no-repeat; }
#cat3 .icon { background: url("img/cat3_icon.png") center no-repeat; }
#logout_btn { background: none; background: url("img/logout_icon.png") center no-repeat; }
.start_menu_item { border-radius: 2px; }
.start_menu_item:HOVER { background: #99ccff; }
.win_btn img { display: block; vertical-align: middle; position: relative; top: 7px; left: 7px;}
#logout_btn_hover { background: none; background: url("img/logout_icon_hover.png") center no-repeat; width: 100%; height: 100%; }
#login_name { display: inline-block; color: #fff; font-size: 24px; font-weight: bold; line-height: 48px; text-shadow: 0 0 5px #000;}
.x-shadow+.x-resizable-pinned { -webkit-box-shadow: 0 0 15px #000; -moz-box-shadow: 0 0 15px #000; border-radius: 6px;}
.x-panel-ghost { border-radius: 6px; }
.window_title { color: #fff;  text-shadow: 0 0 3px #000; padding-left: 6px; }